body {
    background: #F0EFF2;
}

/* ヘッダー */
.attendance-header {
    max-width: 900px;
    margin: 100px auto 40px;
    display: flex;
    align-items: center;
    position: relative;
}

.attendance-line {
    width: 0;
    height: 40px;
    border-left: 8px solid #000;
    margin-right: 16px;
}

.attendance-title {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
    text-align: left;
}

/* メイン枠 */
.attendance-detail-wrapper {
    max-width: 900px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fff;
}

/* テーブル */
.attendance-detail-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.15em;
    border-radius: 10px;
    overflow: hidden;
}

.attendance-detail-table th,
.attendance-detail-table td {
    height: 80px;
    vertical-align: middle;
    padding: 0 40px;
}

.attendance-detail-table th {
    width: 300px;
    text-align: left;
    padding: 16px 40px;
    border-top: 2px solid #E1E1E1;
    border-bottom: 2px solid #E1E1E1;
    background-color: #fff;
}

.attendance-detail-table td {
    padding: 16px 30px;
    border-top: 2px solid #E1E1E1;
    background-color: #fff;
}

.attendance-detail-table {
    border-bottom: 2px solid #E1E1E1;
}

.attendance-detail-table th,
.attendance-detail-table td {
    border-bottom: none;
}

.attendance-detail-table tr:last-child th,
.attendance-detail-table tr:last-child td {
    border-bottom: none;
}

/* 名前 */
.name-cell td {
    text-align: left;
    padding-left: 30px;
    font-weight: 700
}

/* 日付 */
.date-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 130px;
    font-weight: 700;
    height: 110px;
}

/* 時間系 */
.time-cell {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding-left: 80px;
}

.time-wrapper {
    width: 316px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 40px;
    margin-left: -20px;
}

.time-separator {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

/* 入力欄 */
.input-field-time {
    width: 103px;
    height: 28px;
    opacity: 1;
    border-radius: 4px;
    border: 1px solid #E1E1E1;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.15em;
    padding: 4px 8px;
    box-sizing: border-box;
}

/* 備考 */
.note-cell {
    text-align: left;
    padding-left: 80px;
}

.input-field-textarea {
    width: 316px;
    height: 72px;
    font-weight: 700;
    padding: 8px;
    border: 1px solid #E1E1E1;
    border-radius: 6px;
    font-size: 16px;
    letter-spacing: 0.15em;
    box-sizing: border-box;
    resize: none;
    margin-left: -20px;
}

textarea[name="note"] {
    line-height: 1.6;
    padding: 8px 12px;
    font-size: 14px;
    resize: vertical;
}

.input-field-break-time {
    width: 103px;
    height: 28px;
    font-weight: 700;
    padding: 8px;
    border: 1px solid #E1E1E1;
    border-radius: 6px;
    font-size: 16px;
    letter-spacing: 0.15em;
    box-sizing: border-box;
}

.input-field-time::-webkit-calendar-picker-indicator,
.input-field-break-time::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* フッター */
.attendance-footer {
    background: #F0EFF2;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px;
    position: relative;
}

.fix-button {
    width: 130px;
    height: 50px;
    border-radius: 5px;
    opacity: 1;
    position: absolute;
    bottom: -100px;
    right: 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0.15em;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.error-message {
    display: block;
    margin-top: 6px;
    font-size: 18px;
    color: #FF0000;
}

.pending-message {
    font-family: Inter;
    font-weight: 800;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.15em;
    color: #FF0000;
    ;
    margin-top: 20px;
}

.success-message {
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #e0f7fa;
    color: #00796b;
    border: 1px solid #b2ebf2;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.input-field-time[disabled],
.input-field-textarea[disabled],
.input-field-break-time[disabled] {
    border: none;
    background: transparent;
    background-color: #fff;
    color: #000;
    padding-left: 0;
    pointer-events: none;
}