body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: #fff;
    min-width: 1400px;
}

header {
    width: 100%;
    height: 80px;
    background-color: #000;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
}

.header-logo {
    display: inline-block;
    text-decoration: none;
}

header img {
    width: 370px;
    height: 36px;
    max-width: 100%;
}

header {
    width: 100%;
    height: 80px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

header img {
    width: 370px;
    height: 36px;
}

.admin-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* ←追加 */
    gap: 40px;
}


.admin-nav a {
    display: inline-block;
    width: auto;
    height: 29px;
    line-height: 29px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

@media screen and (max-width: 1399px) {
    body {
        overflow-x: auto;
    }
}