.attendance-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.attendance-status {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    background: #C8C8C8;
    border-radius: 50px;
    opacity: 1;
    margin-bottom: 60px;
}

.attendance-date {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0;
    color: #000000;
    border-radius: 8px;
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 20px;
}

.attendance-time {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: 0;
    color: #000000;
    text-align: center;
    margin: 20px 0;
}

.attendance-actions {
    margin-top: 80px;
}

.attendance-button {
    width: 221px;
    height: 77px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    opacity: 1;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.15em;
    background-color: #000000;
    color: #fff;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flash-message {
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #e0f7fa;
    color: #00796b;
    border: 1px solid #b2ebf2;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.attendance-button:hover {
    background-color: #737373;
}